<link rel="stylesheet" href="/root/css/acessorioindustia.css">
<!--

    <section class="wrapper">
        
        <p>{{title}}</p>
    </section>
    
-->
<div class="cont-aces-industria wrapper">
    <div>
        <h1>
            Produtos que vão <br> melhorar todo <br> desempenho!
        </h1>
    </div>
    <div>
        <p>

            A qualidade influencia diretamente no desempenho. Por isso é imprecindivel ficar atento ao processo de fabricação dos produtos e sua origem, que devem seguir as normas estabelaceidas pelos órgãos reguladores, para que assim tenha a segurança e eficácia
            especificadas.
        </p>
    </div>
</div>
<script>
    function scrollWin() {
        window.scrollTo(0, 0);
    }
    scrollWin();
</script>