<style>
    .navegacao-img {
        background-image: url("/root/img/capas/home.png");
    }
</style>
<link rel="stylesheet" href="/root/css/catalogo.css">
<section class="pdf wrapper mt-5 mb-5">

    <div class="cont-img-pdf">
        <div class="d-flex justify-content-end">
            <img src="/root/img/icones/Icone_pdf.png" alt="">

        </div>
    </div>

    <div class="cont-texto-pdf">
        <h3>Acessórios para
            <br> montagem Industrial</h3>
        <p>
            Confira nossos produtos para montagem Industrial que preparamos para você! Lembre-se de entrar em contato caso algum ítem não estaja presente , estamos sempre em busca de melhorias para você!
        </p>
        <span>
            <img src="/root/img/icones/Botão Download.png" alt="">
        </span>
    </div>
</section>
<script>
    function scrollWin() {
        window.scrollTo(0, 0);
    }
    scrollWin();
</script>