<link rel="stylesheet" href="/root/css/contato.css">
<section class="wrapper">
    <p>{{title}}</p>

</section>

<section class="flex wrapper cont-contato">
    <div class="w50">
        <h1>
            Agora você pode <br> tirar suas dúvidas <br> ou solilicitar um <br> orçamento!
        </h1>
        <p>
            Prencha atentamente o formulario
            <span class="texto"> </span> e conte-nos suas dúvidas sobre algum produto ou servço. Caso não tenha encontrado o produto que deseja m basta indicar nos campos disponíveis e se preferir, cique no WhatsApp
        </p>
    </div>
    <div class="w50"></div>
</section>


<script>
    function scrollWin() {
        window.scrollTo(0, 0);
    }
    scrollWin();
</script>