<style>
    .navegacao-img {
        background-image: url("/root/img/capas/foto\ e\ texto.png");
    }
</style>
<link rel="stylesheet" href="/root/css/imgHover.css">



<section class="wrapper section-servicos mt-img ">




    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <div class="cont-text-serv">24 horas</div>
                <div class="cont-img-serv">

                    <img src="/root/img/iconesBrancos/Icone_24_horas.png" alt="">
                </div>
            </div>
            <div class="back">
                <div class="conteudo">

                    <h5>
                        24hrs
                    </h5>
                    <article>
                        Em nossa loja física, contamos com vendas internas.
                    </article>
                    <form action="">
                        <button type="submit">Contrate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <div class="cont-text-serv">Instalação</div>
                <div class="cont-img-serv">
                    <img src="/root/img/iconesBrancos/Icone_instalação.png" alt="">
                </div>

            </div>
            <div class="back">

                <div class="conteudo">
                    <h5>
                        Instalação
                    </h5>
                    <article>
                        Facilidade no manuseio e praticidade na aplicação dos produtos.

                    </article>
                    <form action="">
                        <button type="submit">Contrate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-container">
        <div class="flipper">
            <div class="front">
                <div class="cont-text-serv">Manutenção</div>
                <div class="cont-img-serv">

                    <img src="/root/img/iconesBrancos/Icone_manutenção.png" alt="">
                </div>
            </div>
            <div class="back">
                <div class="conteudo">
                    <h5>
                        Manutenção
                    </h5>
                    <article>
                        Manutenção integral e preventiva em indústrias e embarcações de qualquer segmento para instalação de novos consertos de equipamentos em qualquer lugar do país.


                    </article>
                    <form action="">
                        <button type="submit">Contrate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="wrapper section-servicos ">

    <div class=" flip-container  ">
        <div class="flipper ">
            <div class="front ">
                <div class="cont-text-serv ">Entregas</div>
                <div class="cont-img-serv ">

                    <img src="/root/img/iconesBrancos/Icone_entrega.png " alt=" ">
                </div>

            </div>
            <div class="back ">
                <div class="conteudo ">

                    <h5>
                        Entregas
                    </h5>
                    <article>
                        Entrega própria de alguns itens em nossa região.


                    </article>
                    <form target="blank" action="http://bit.ly/PortoFlex">
                        <button type="submit">Consulte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-container ">
        <div class="flipper ">
            <div class="front ">
                <div class="cont-text-serv ">whatsapp</div>
                <div class="cont-img-serv ">

                    <img src="/root/img/iconesBrancos/Icone_whatsapp (1).png " alt=" ">
                </div>


            </div>
            <div class="back ">
                <div class="conteudo ">
                    <h5>
                        WhatsApp
                    </h5>
                    <article>
                        Os valores dos nossos produtos e serviços podem ser solicitados por telefone e e-mail também.



                    </article>
                    <form target="blank" action="http://bit.ly/PortoFlex">
                        <button type="submit">Chame</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="flip-container ">
        <div class="flipper ">
            <div class="front ">
                <div class="cont-text-serv "> Destaque</div>
                <div class="cont-img-serv ">

                    <img src="/root/img/iconesBrancos/Icone_destaque.png " alt=" ">
                </div>

            </div>
            <div class="back ">
                <div class="conteudo ">
                    <h5>
                        Destaque

                    </h5>
                    <article>
                        Os vendedores com cerca de 10 anos de experiência na área e equipe técnica a quase 20 anos em campo oferecendo assistência aos clientes.
                    </article>
                    <form target="blank" action="http://bit.ly/PortoFlex">
                        <button type="submit">Contrate</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>

<section class="wrapper section-servicos-mob ">
    <button type="button" class="btn cards-movel " data-bs-toggle="modal" data-bs-target="#horas">
    <div class="cont-text-serv">24 horas</div>
                <div class="cont-img-serv">

                    <img src="/root/img/iconesBrancos/Icone_24_horas.png" alt="">
                </div>
  </button>
    <button type="button" class="btn cards-movel" data-bs-toggle="modal" data-bs-target="#instalacao">
   
        <div class="cont-text-serv">Instalação</div>
        <div class="cont-img-serv">
            <img src="/root/img/iconesBrancos/Icone_instalação.png" alt="">
        </div>

    
  </button>
    <button type="button" class="btn cards-movel" data-bs-toggle="modal" data-bs-target="#manutencao">
    <div class="cont-text-serv">Manutenção</div>
    <div class="cont-img-serv">

        <img src="/root/img/iconesBrancos/Icone_manutenção.png" alt="">
    </div>
  </button>
    <button type="button" class="btn cards-movel" data-bs-toggle="modal" data-bs-target="#entregas">
    <div class="cont-text-serv ">Entregas</div>
                <div class="cont-img-serv ">

                    <img src="/root/img/iconesBrancos/Icone_entrega.png " alt=" ">
                </div>
  </button>
    <button type="button" class="btn cards-movel" data-bs-toggle="modal" data-bs-target="#wthasappp">
    <div class="cont-text-serv ">whatsapp</div>
                <div class="cont-img-serv ">

                    <img src="/root/img/iconesBrancos/Icone_whatsapp (1).png " alt=" ">
                </div>
  </button>
    <button type="button" class="btn cards-movel" data-bs-toggle="modal" data-bs-target="#destaque">
    <div class="cont-text-serv "> Destaque</div>
    <div class="cont-img-serv ">

        <img src="/root/img/iconesBrancos/Icone_destaque.png " alt=" ">
    </div>
  </button>
</section>


<div class="modal fade" id="horas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="conteudo">

                    <h5>
                        24hrs
                    </h5>
                    <article>
                        Em nossa loja física, contamos com vendas internas.
                    </article>
                    <form action="">
                        <button type="submit">Contrate</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="instalacao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="conteudo">
                    <h5>
                        Instalação
                    </h5>
                    <article>
                        Facilidade no manuseio e praticidade na aplicação dos produtos.

                    </article>
                    <form action="">
                        <button type="submit">Contrate</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="manutencao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="conteudo ">

                    <h5>
                        Entregas
                    </h5>
                    <article>
                        Entrega própria de alguns itens em nossa região.


                    </article>
                    <form target="blank" action="http://bit.ly/PortoFlex">
                        <button type="submit">Consulte</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="entregas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="conteudo ">
                    <h5>
                        WhatsApp
                    </h5>
                    <article>
                        Os valores dos nossos produtos e serviços podem ser solicitados por telefone e e-mail também.



                    </article>
                    <form target="blank" action="http://bit.ly/PortoFlex">
                        <button type="submit">Chame</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="wthasappp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="conteudo ">
                    <h5>
                        WhatsApp
                    </h5>
                    <article>
                        Os valores dos nossos produtos e serviços podem ser solicitados por telefone e e-mail também.



                    </article>
                    <form target="blank" action="http://bit.ly/PortoFlex">
                        <button type="submit">Chame</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="destaque" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="conteudo ">
                    <h5>
                        Destaque

                    </h5>
                    <article>
                        Os vendedores com cerca de 10 anos de experiência na área e equipe técnica a quase 20 anos em campo oferecendo assistência aos clientes.
                    </article>
                    <form target="blank" action="http://bit.ly/PortoFlex">
                        <button type="submit">Contrate</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function scrollWin() {
        window.scrollTo(0, 0);
    }
    scrollWin();
</script>