$verde: #26492a;
$laranja: #db812d;
$branco: #fff;
$preto:#000;
$laranjaClaro: #f4c498;
.pdf {
    display: flex;
    .cont-img-pdf {
        margin-top: 150px;
        width: 30%;
        div {
            padding: 20px;
            img {
                width: 100%;
                max-width: 90px;
                object-fit: contain;
            }
        }
    }
    .cont-texto-pdf {
        margin-top: 150px;
        padding: 20px;
        h3 {
            padding: 10px 0px;
            color: $verde;
            font-size: 40px;
            font-weight: 600;
        }
        p {
            width: 100%;
            max-width: 450px;
            font-size: 18px;
            font-weight: 300;
            color: #555;
        }
        span {
            img {
                width: 100%;
                max-width: 200px;
                object-fit: contain;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .pdf {
        display: flex;
        flex-direction: column-reverse;
        .cont-img-pdf {
            width: 70%;
            margin: auto;
            div {
                padding: 0px;
                img {
                    margin: auto;
                    width: 100%;
                    max-width: 300px !important;
                    object-fit: contain;
                }
            }
        }
        .cont-texto-pdf {
            margin-top: 0px !important;
        }
    }
}