@charset "UTF-8";
.cont-servicos-home {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: auto;
  margin-top: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont-servicos-home div {
  width: 130px;
  height: 130px;
  min-width: 130px;
  background-color: #26492a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  background-size: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin: 10px 0px 10px 0px;
}

.cont-servicos-home div span {
  text-align: center;
  color: #26492a;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
}

.cont-servicos-home div span button {
  border: none;
  background-color: #db812d;
  font-size: 12px;
  color: #fff;
  width: 90%;
}

.cont-servicos-home div:hover {
  background-color: #fff;
  border: solid 5px #26492a;
  width: 130px;
  height: 130px;
  cursor: -webkit-grab;
  cursor: grab;
}

.cont-servicos-home div:nth-child(1) {
  background-image: url("/root/img/icones/Icone_24_horas.png");
}

.cont-servicos-home div:nth-child(1) span {
  display: none;
}

.cont-servicos-home div:nth-child(1):hover {
  background-image: none;
}

.cont-servicos-home div:nth-child(1):hover span {
  display: block;
}

.cont-servicos-home div:nth-child(2) {
  background-image: url("/root/img/icones/Icone_Acessorios_para_montagem_industrial.png");
  background-size: 60%;
}

.cont-servicos-home div:nth-child(2) span {
  display: none;
}

.cont-servicos-home div:nth-child(2):hover {
  background-image: none;
}

.cont-servicos-home div:nth-child(2):hover span {
  display: block;
}

.cont-servicos-home div:nth-child(3) {
  background-image: url("/root/img/icones/Icone_manutenção.png");
}

.cont-servicos-home div:nth-child(3) span {
  display: none;
}

.cont-servicos-home div:nth-child(3):hover {
  background-image: none;
}

.cont-servicos-home div:nth-child(3):hover span {
  display: block;
}

.cont-servicos-home div:nth-child(4) {
  background-image: url("/root/img/icones/Icone_entrega.png");
}

.cont-servicos-home div:nth-child(4) span {
  display: none;
}

.cont-servicos-home div:nth-child(4):hover {
  background-image: none;
}

.cont-servicos-home div:nth-child(4):hover span {
  display: block;
}

.cont-servicos-home div:nth-child(5) {
  background-image: url("/root/img/icones/Icone_whatsapp.png");
}

.cont-servicos-home div:nth-child(5) span {
  display: none;
}

.cont-servicos-home div:nth-child(5):hover {
  background-image: none;
}

.cont-servicos-home div:nth-child(5):hover span {
  display: block;
}

.cont-servicos-home div:nth-child(6) {
  background-image: url("/root/img/icones/Icone_destaque.png");
}

.cont-servicos-home div:nth-child(6) span {
  display: none;
}

.cont-servicos-home div:nth-child(6):hover {
  background-image: none;
}

.cont-servicos-home div:nth-child(6):hover span {
  display: block;
}

.backg-conectados {
  background-color: #db812d;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backg-conectados .cont-eficiencia {
  width: 60%;
  text-align: right;
  font-size: 33px;
  color: #fff;
  padding: 25px 20px;
}

.backg-conectados .cont-plantao24hrs {
  width: 40%;
  height: 50px;
  margin-top: 25px;
  background-color: #26492a;
  color: #fff;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
  border-radius: 5px 0px 0px 5px;
}

h1 {
  font-size: 40px;
  padding: 10px 10px;
}

.wrapper-historia {
  margin: auto;
  width: 100%;
  max-width: 900px;
}

.cont-article-home div {
  padding: 10px;
  width: 50%;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  color: #777;
  line-height: 30px;
}

.sectiom-conexao-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.sectiom-conexao-home .direita {
  text-align: right;
}

.sectiom-conexao-home .esquerda {
  padding: 20px 10px;
  font-size: 35px;
  font-weight: 600;
  line-height: 40px;
}

.sectiom-conexao-home .esquerda img {
  margin-top: 5px;
  width: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #26492a;
  border: solid 2px #26492a;
}

.sectiom-conexao-home div {
  padding: 10px;
  width: 50%;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  color: #777;
}

.sectiom-conexao-home div .encontrou-conexao {
  color: #26492a;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
  width: 100%;
}

.sectiom-conexao-home div .dica {
  font-size: 20px;
  color: #26492a;
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .cont-servicos-home {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 770px) {
  .cont-article-home div {
    padding: 10px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    color: #777;
  }
  .backg-conectados .cont-eficiencia {
    font-size: 17px;
    padding: 35px 20px;
  }
  .backg-conectados .cont-plantao24hrs {
    white-space: nowrap;
    font-size: 10px;
    padding: 10px 20px;
  }
  .sectiom-conexao-home .esquerda {
    padding: 20px 10px;
    font-size: 35px;
    font-weight: 600;
    line-height: normal;
  }
  .sectiom-conexao-home div .encontrou-conexao {
    color: #26492a;
    font-size: 25px;
    font-weight: 700;
    text-align: right;
    width: 100%;
  }
  .sectiom-conexao-home div .dica {
    font-size: 16px;
    color: #26492a;
    font-weight: 500;
  }
}

@media only screen and (max-width: 425px) {
  .backg-conectados {
    background-color: #db812d;
    height: 100px;
    display: block;
  }
  .backg-conectados .cont-eficiencia {
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding: 5px 20px;
  }
  .backg-conectados .cont-plantao24hrs {
    width: 100%;
    height: 50px;
    margin-top: 0px;
    background-color: #26492a;
    color: #fff;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
  }
  .sectiom-conexao-home .esquerda {
    padding: 10px 10px;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
  }
  .sectiom-conexao-home div .encontrou-conexao {
    color: #26492a;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    width: 100%;
  }
  .sectiom-conexao-home div .dica {
    font-size: 13px;
    color: #26492a;
    font-weight: 500;
  }
}

@media screen and (max-width: 770px) {
  .cont-servicos-home {
    overflow-x: scroll;
  }
  .cont-servicos-home {
    margin: 150px 10px 0px 0px;
  }
  .cont-servicos-home div {
    margin: 0px 20px 0px 0px;
  }
}

@media screen and (max-width: 425px) {
  .cont-servicos-home {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
  }
  .cont-servicos-home div {
    margin: 0px 20px 0px 0px;
    width: 100px;
    height: 100px !important;
    min-width: 100px;
  }
  .cont-servicos-home div span {
    font-size: 12px;
    font-weight: 700;
  }
  .cont-servicos-home div span button {
    font-size: 12px;
    width: 90%;
  }
}
/*# sourceMappingURL=home.css.map */