$verde: #26492a;
$laranja: #db812d;
$branco: #fff;
$preto:#000;
$laranjaClaro: #f4c498;
html body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

@font-face {
    font-family: Roboto;
    src: url('Roboto-ThinItalic-webfont.eot');
}

.laranja {
    color: $laranja;
}

.branco {
    color: $branco;
}

.verde {
    color: $verde;
}

header {
    background-color: $verde;
    width: 100%;
    max-width: 100%;
    height: 60px;
    position: fixed;
    z-index: 998;
    top: 0;
    form {
        div {
            input {
                background-color: transparent;
                border: solid 2px $laranja;
                color: $laranja;
                margin-top: 15px;
            }
            input::placeholder {
                color: $laranja;
            }
            button {
                margin-left: -5px;
                background-color: transparent;
                border: solid 2px $laranja;
                svg {
                    color: $laranja;
                }
            }
        }
    }
    section {
        div {
            position: relative;
            float: right;
            span {
                color: $branco;
                svg {
                    color: $laranja;
                }
                i {
                    color: $laranja;
                }
            }
        }
    }
}

.navegacao {
    margin-top: 60px;
    background-image: url("/root/img/01_bg.png");
    background-position: top;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    height: 300px; //30vh;
    nav {
        font-size: 14px;
        margin: auto;
        display: flex;
        width: 100%;
        z-index: 999;
        div {
            width: 100%;
            text-align: center;
            padding-top: 25px;
            a {
                text-decoration: none;
                color: $branco;
                width: 100%;
            }
             :hover {
                text-decoration: none;
                color: $branco;
            }
        }
        .collapseProdutos {
            section {
                width: 90%;
                max-width: 150px;
                position: absolute;
                margin: auto;
                margin-top: -3px;
                z-index: 950;
                div {
                    font-size: 12px;
                    font-weight: 300;
                    background-color: $laranja;
                    padding: 5px 10px;
                }
            }
            i {
                color: $branco;
            }
        }
    }
}

//mudança de cor do menu
.navCorPrinc {
    color: $branco;
}

.navCorSecund {
    color: $laranja !important;
}

.wthas {
    font-size: 12px;
}

.fontTextos {
    line-height: 30px;
    font-weight: 500;
    color: #26492a;
}

#linear-gradient {
    width: 100%;
    height: 8px;
    background-image: linear-gradient(to right, $laranja, $laranjaClaro);
}

.cont-navegacao-img {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
}

@media screen and (max-width: 425px) {
    .cont-navegacao-img {
        margin-top: 25px;
    }
}

.navegacao-img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    width: 78%;
    height: 100%;
    max-height: 400px;
    position: absolute;
    max-width: 800px;
}

@media screen and (max-width: 770px) {
    .navegacao {
        height: 200px;
    }
    .navegacao-img {
        max-height: 300px;
    }
}

@media screen and (max-width: 425px) {
    .navegacao-img {
        max-height: 150px;
    }
    .navegacao {
        height: 150px;
    }
}

.conteinerLogo {
    background-color: $verde;
    width: 100%;
    height: 100%;
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    margin-top: -28px;
    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
}

.none {
    display: none;
}

.logoPosition {
    width: 50px;
    margin: auto;
    margin-top: -35px;
    text-align: center;
    img {
        width: 100%;
        object-fit: contain;
    }
}

.wthsPositionafter {
    margin-top: -30px;
}

.wthsPositionahover {
    margin-top: -24px;
}

@media screen and (max-width: 770px) {
    .logoPosition {
        width: 66px;
        margin: auto;
        margin-top: 5px;
        text-align: center;
        img {
            width: 60px;
            object-fit: contain;
        }
    }
    .conteinerLogo {
        width: 100%;
        height: 100%;
        max-width: 66px;
        min-width: 66px;
        max-height: 70px;
        min-height: 70px;
        margin-top: -28px;
        margin-bottom: 30px;
        img {
            width: 70%;
            height: 100%;
            object-fit: contain;
        }
    }
}

//Footer
footer {
    width: 100%;
    background-color: $verde;
    border-bottom: solid $verde 20px;
    .footern1 {
        display: flex;
        padding-top: 20px;
        .esquerda {
            text-align: end;
            font-size: 16px;
            font-weight: 600;
            color: $branco;
            width: 45%;
            padding-right: 15px;
            line-height: 20px;
        }
        .icon-wthas {
            display: flex;
            width: 20%;
            font-size: 20px;
            img {
                width: 55px;
            }
            .chamaNoWthas {
                line-height: 25px;
                margin-top: 7px;
                margin-left: 5px;
                color: $laranja;
                font-weight: 600;
                min-width: 100px;
                font-size: 30px;
            }
        }
        .btn-wthas {
            width: 30%;
            button {
                font-size: 15px;
                border: solid $laranja 1px;
                background-color: transparent;
                color: $branco;
                padding: 5px 15px;
                margin-top: 15px;
            }
        }
    }
    @media screen and (max-width: 770px) {
        .footern1 {
            display: block;
            padding-top: 20px;
            .esquerda {
                text-align: center;
                width: 200px;
                padding-right: 15px;
                line-height: 20px;
                margin: auto;
            }
            .icon-wthas {
                padding: 20px 0px;
                display: flex;
                width: 180px;
                margin: auto;
                img {
                    width: 70px;
                }
                .chamaNoWthas {
                    margin-top: 5px;
                    margin-left: 5px;
                    color: $laranja;
                    font-weight: 600;
                }
            }
            .btn-wthas {
                width: 111px;
                margin: auto;
                margin-bottom: 20px;
                button {
                    font-size: 15px;
                    border: solid $laranja 1px;
                    background-color: transparent;
                    color: $branco;
                    padding: 5px 15px;
                }
            }
        }
    }
    .separador {
        width: 100%;
        height: 5px;
        background-color: $laranja;
    }
    .footer-left {
        color: $branco;
        width: 33%;
    }
    .conteiner-img-logo {
        width: 34%;
        .img-logo-footer {
            width: 300px;
            max-width: 150px;
            min-width: 150px;
            object-fit: contain;
            margin: auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .footer-right {
        color: $branco;
        width: 33%;
        i {
            color: $laranja;
            padding: 5px;
        }
        div {
            text-align: end;
        }
        .dias {
            color: $laranja;
        }
    }
    .img-footer-icons {
        width: 15px;
        margin-right: 2px;
    }
    @media screen and (max-width: 770px) {
        .conteiner-img-logo {
            width: 100%;
        }
        .footer-left {
            color: $branco;
            width: 100%;
            .cont-center-footer {
                display: flex;
                justify-content: center;
            }
        }
        .footer-right {
            color: $branco;
            width: 100%;
            div {
                text-align: center;
            }
            .cont-redes-soc {
                display: flex;
                justify-content: center;
                i {
                    color: $laranja;
                    padding: 5px;
                }
            }
            .dias {
                color: $laranja;
            }
        }
    }
}