// vars colors 
$verde: #26492a;
$laranja: #db812d;
$branco: #fff;
$preto:#000;
html body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: $verde;
    width: 100%;
    max-width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    form {
        div {
            input {
                background-color: transparent;
                border: solid 2px $laranja;
                color: $laranja;
                margin-top: 15px;
            }
            input::placeholder {
                color: $laranja;
            }
            button {
                margin-left: -5px;
                background-color: transparent;
                border: solid 2px $laranja;
                svg {
                    color: $laranja;
                }
            }
        }
    }
    section {
        div {
            position: relative;
            float: right;
            span {
                color: $branco;
                svg {
                    color: $laranja;
                }
                i {
                    color: $laranja;
                }
            }
        }
    }
}

.navegacao {
    margin-top: 60px;
    background-image: url("/root/img/01_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px; //30vh;
    nav {
        margin: auto;
        display: flex;
        width: 100%;
        div {
            width: 100%;
            text-align: center;
            padding-top: 25px;
            a {
                text-decoration: none;
                color: $branco;
                width: 100%;
            }
        }
    }
    //mudança de cor do menu
    .navCorPrinc {
        color: $branco;
    }
    .navCorSecund {
        color: $laranja !important;
    }
    .cont-img {
        display: flex;
        div {
            border: solid black;
            margin: auto;
            margin-top: 40px;
            width: 60vh;
            height: 60vh;
            img {
                width: 100%;
                max-width: 100%;
                object-fit: contain;
            }
        }
    }
}

#linear-gradient {
    margin-top: -10px;
    width: 100%;
    height: 8px;
    background-image: linear-gradient(to right, $laranja, rgb(253, 178, 39));
}

@media screen and (max-width: 770px) {
    .navegacao {
        width: 100%;
        //  height: ;
    }
}

.quadradoEXcluir {
    background-color: $verde;
    width: 90px;
    min-width: 100px;
    max-width: 100px;
    border: solid 10px $laranja;
    height: 90px;
}

.none {
    display: none;
}

.logoPosition {
    width: 100px;
    margin: auto;
    margin-top: -50px;
    text-align: center;
}

.wthsPositionafter {
    margin-top: -70px;
}

.wthsPositionahover {
    margin-top: -30px;
}

//Footer
footer {
    width: 100%;
    background-color: $verde;
    .footern1 {
        display: flex;
        div {
            color: $branco;
            text-align: right;
            width: 200px;
            border: solid;
            i {
                color: $laranja;
            }
        }
        button {
            background-color: #000;
        }
    }
}